{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "targets": {
                    "ie": "10"
                },
                "corejs": 3
            }
        ]
    ]
}
